# Default ignored files
/shelf/
/workspace.xml

# Dependências (NUNCA remover do ignore)
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs (Complementando o que já está na foto)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?